# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual envs
venv/
.env
.env.*/
.venv/

# Node / React Native
node_modules/
npm-debug.log*
yarn-error.log*
.expo/
.expo-shared/
dist/
build/

# OS junk
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# IDEs
.vscode/
.idea/

# Docker artifacts
*.pid
*.seed
*.tar
